PORT=8080

# DATABASE CONFIG 
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_db_password
DB_NAME=alumni_platform

ALLOWED_EMAIL_DOMAIN=your.email.domain

JWT_SECRET=your_jwt_secret_key

# EMAIL CONFIG 
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password
EMAIL_FROM=Your App Name <your_email@gmail.com>
BASE_URL=http://localhost:5173

# API KEY 
FRONTEND_API_KEY=your_frontend_api_key

# TEST MODE 
# Returns API responses/tokens for testing
TEST_MODE=false